<h1>Add a new contact</h1>

<form action="/contacts" method="POST">
  <div>
    <label for="contact_name">Name</label>
    <input type="text" name="contact[name]" id="contact_name"> <br>
  </div>

  <div>
    <label for="contact_address">Address</label>
    <textarea name="contact[address]" id="contact_address"></textarea> <br>
  </div>

  <div>
    <label for="contact_phone">Phone number</label>
    <input type="tel" name="contact[phone]" id="contact_phone"> <br>
  </div>

  <div>
    <label for="contact_email">Email</label>
    <input type="email" name="contact[email]" id="contact_email">
  </div>

  <label for="eula_accepted">Favorite </label>
  <input name="contact[favorite]" type="hidden" value= no />
  <input type="checkbox" class="contact_check" id="contact_favorite" name="contact[favorite]" value= yes /> <br>

  <button type="submit">Add this contact</button>
  <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">
</form>
