<!DOCTYPE html>
<html>
<head>
  <title>Correct | You are in</title>
</head>
<body>
    <h1>Logged IN</h1>
    <form action="/logout" method="GET">
      <output name="username">Hello <%=@username%></output>
      <button type="submit" name="operation" value="redirect">Logg out</button>

    </form>
  </body>
</html>
