<!DOCTYPE html>
<html>
<head>
  <title>Log in | Validator</title>
</head>
<body>
    <h1>Lorenzo's Net</h1>
    <form action="/validate" method="POST">
      <input type="text" name="username" placeholder="user">
      <input type="text" name="password" placeholder="password">
      <button type="submit" name="operation" value="login">LOG IN</button>
    </form>

      <a href="/signup">Sign Up</a>

  </body>
</html>
