<!DOCTYPE html>
<html>
<head>
  <title>Log in | Validator</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/register" method="POST">

      <label for="name">Name      </label>
      <input type="text" name="name" placeholder="name"> <p>

      <label for="lastname">Lastname  </label>
      <input type="text" name="lastname" placeholder="lastname">

      <label for="city">City      </label>
      <input type="text" name="city" placeholder="City"> <p>

      <label for="email">Email     </label>
      <input type="text" name="email" placeholder="email"> <p>

      <label for="password">Password  </label>
      <input type="password" name="password" placeholder="password"> <p>

      <button type="submit" name="operation" value="sign up">Sign up</button>
    </form>

  </body>
</html>
