<!DOCTYPE html>
<html>
<head>
  <title>Result | Online Calculator</title>
</head>
<body>
    <h1>Final result</h1>
    <form action="/store" method="POST">
      <output name="first"><%=@first%></output>
      <output name="second"><%=@second%></output>
      <output name="result"><%=@result%></output>

      <button type="submit" name="operation" value="store">STORE</button>


    </form>
  </body>
</html>
